@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&family=Exo+2:wght@400;500;700&display=swap');

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* veritcal */
  align-items: center; /* horizontal */
  height: 100vh;
  background: #000;
  color: #fff;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 3rem;
  /* text-shadow: 0 0 5px #ff7300, 0 0 10px #00ff00; */
  text-shadow: 0 0 5px #ff7300, 0 0 10px #ff7300;

}

p {
  font-family: 'Exo 2', sans-serif;
  font-size: 1.2rem;
}

button {
  font-family: 'Exo 2', sans-serif;
  background: linear-gradient(90deg, #00ff00, #00ffff);
  border: none;
  padding: 10px 20px;
  color: #000;
  cursor: pointer;
  margin-top: 20px;
}

.app-login {
  background: url('C:\Users\Nathan\Documents\GitHub\OuterRimRally\frontend\public\nebula.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

.outer-rim-header {
  padding-top: 50px;
}